{% extends 'root.html' %}
{% load static %}

{% block title %}<title>О врачах</title>{% endblock %}

{% block content %}
<center><h4>О врачах</h4></center>
<br>
<br>
<br>
<div class='container-circle'>
    {% for item in about %}
    <div class="card" style="width: 18rem; margin-right:40px">
        <img src="{{ item.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">ФИО: {{ item.fio }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Стаж: {{ item.experience }} лет</li>
            <li class="list-group-item">Категория: {{ item.category }}</li>
            <li class="list-group-item">Номер телефона: {{ item.phone_number }}</li>
        </ul>
        <div class="card-body">
            {% if user.is_authenticated %}
                <a href="{% url 'comment' item.id %}" class="card-link">Отзывы пациентов</a>
            {% else %}
                <a href="{% url 'login'  %}" class="card-link">Отзывы пациентов</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}